<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAplT1xjmTz43EDdN9SpF4-Q_cZFbQBjZE</string>
	<key>GCM_SENDER_ID</key>
	<string>43266602216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.novacash1</string>
	<key>PROJECT_ID</key>
	<string>novacash-6115c</string>
	<key>STORAGE_BUCKET</key>
	<string>novacash-6115c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43266602216:ios:c2988718f85b86ab51855d</string>
</dict>
</plist>